<!DOCTYPE html>
<html>
<head>
<title> Auction Requests - Online Auction WebApplication </title>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='/static/css/bootstrap.min.css' />
<link rel='stylesheet' href='/static/css/style.css' />
</head>
<body>

{% include 'banner.html' %}

<center>

<div id="base">
<div id="front">
<h1> Auction Requests </h1>

{% if items %}
<form>
<table id='table' class="table">

<tr id='t1'>
<td>&nbsp<b>Request ID</b>&nbsp</td>
<td>&nbsp<b>Seller_id</b>&nbsp</td>
<td>&nbsp<b>Created On</b>&nbsp</td>
<td>&nbsp<b>Title</b>&nbsp</td>
<td>&nbsp<b>Description</b>&nbsp</td>
<td>&nbsp<b>Quantity Available</b>&nbsp</td> 
<td>&nbsp<b>Initial price</b>&nbsp</td>
<td>&nbsp<b>Approved Status</b>&nbsp</td>
<td>&nbsp<b>Approve Request</b>&nbsp</td>

</tr>

{% for item in items %}
	<tr id='{{rowname}}'>
		<td>{{item.id}}</td>
		<td>{{item.seller_id}}</td>
		<td>{{item.created}}</td>
		<td>{{item.title}}</td>
		<td>{{item.description}}</td>
		<td>{{item.quantity}}</td>
		<td>{{item.min_price}}</td>
		<td>{{item.approved}}</td>
		{% if staff and  item.approved==0 %}



<td>
<button class="btn btn-outline-danger" type='submit' formmethod='post' formaction='/requests/reject/{{item.id}}/{{uid}}/'>Reject Request</button>
<button class="btn btn-outline-success" type='submit' formmethod='post' formaction='/requests/approve/{{item.id}}/{{uid}}/'>Approve Request</button>
</td>
		{% else %}
<td>{{item.response_by}}</td>
		{% endif %}
	</tr>
{% endfor %}

</table>
</form>
{% endif %}


</div>
</div>
</center>

{% if debugmsg %}

{{debugmsg}}

{% endif%}

</body>
</html>
