

<header>

<center><h1>Online Auction Web Application</h1></center>

{% if name %}
<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
	<div class="container-fluid">
		<ul class="navbar-nav">
			<li class="navbar-item">
				<a href="/dashboard/" class="nav-link active">Dashboard</a>
			</li>
			
			<li class="nav-item">
				<a href="/participate/" class="nav-link">Participate</a>
			</li>
			
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="sellDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Sell</a>
				<ul class="dropdown-menu" area-labelledby="sellDropdown">
					<li>
						<a class="dropdown-item" href="/sell/">Sell an item</a>
					</li>
					
					<li>
						<a class="dropdown-item" href="/requests/status/">Request Status</a>
					</li>

					<li>
						<a class="dropdown-item" href="/auctions/list/">Set Date Time of Auction</a>
					</li>

				</ul>
			</li>
			
			<li class="navbar-item">
				<a href="/messages/" class="nav-link">Messsages</a>
			</li>
			

{% if role=="admin" or role=="manager" %}

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="managerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Auction Manager Controls</a>
				<ul class="dropdown-menu" area-labelledby="managerDropdown">
					<li>
						<a class="dropdown-item" href="/requests/">Auction Requests</a>
					</li>
					
					<li>
						<a class="dropdown-item" href="/requests/">Approve Request</a>
					</li>
					
					<li>
						<a class="dropdown-item" href="/requests/">Reject Request</a>
					</li>
				</ul>
			</li>
		
{% endif %}	

{%if role=="admin" %}

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Admin Controls</a>
				<ul class="dropdown-menu" area-labelledby="adminDropdown">
					<li>
						<a class="dropdown-item" href="/admin/add/">Add Admin</a>
					</li>
					
					<li>
						<a class="dropdown-item" href="/manager/add/">Add Manager</a>
					</li>
					
					<li>
						<a class="dropdown-item" href="/admin/remove/">Remove Admin</a>
					</li>
					
					<li>
						<a class="dropdown-item" href="/manager/remove/">Remove Manager</a>
					</li>
				</ul>
			</li>

{% endif %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="paymentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Payments</a>
				<ul class="dropdown-menu" area-labelledby="paymentDropdown">
					<li>
						<a class="dropdown-item" href="/transaction/history/">Transaction History</a>
					</li>
					
					<li>
						<a class="dropdown-item" href="/payments/checkout/"> Pay </a>
					</li>
				</ul>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="payoutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Payouts</a>
				<ul class="dropdown-menu" area-labelledby="payoutDropdown">
					<li>
						<a class="dropdown-item" href="/payouts/history/">Payout History</a>
					</li>
					
					<li>
						<a class="dropdown-item" href="/payouts/"> Payout </a>
					</li>
				</ul>
			</li>


</ul>

<div class="justify-content-end">
<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="sellDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >{{name}}</a>
				<ul class="dropdown-menu" area-labelledby="sellDropdown">
					<li>
						<a class="dropdown-item" href="/profile/">Profile</a>
					</li>
					
					<li>
						<a class="dropdown-item" href="/auth/logout">Log Out</a>
					</li>
				</ul>
			</li>
			
		</ul>
   </div>
		
	</div>
</nav>
{% else %}

<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
	<div class="container-fluid">
		<ul class="navbar-nav">
			<li class="navbar-item">
				<a href="/" class="nav-link active">Home</a>
			</li>
			
		</ul>
		<div class="justify-content-end">
		
		<a class="btn btn-outline-success" href="/auth/register/">Sign Up</a>
		&nbsp&nbsp
		<a class="btn btn-success" href="/auth/login/">Sign In</a>
		</div>
		
	</div>
</nav>

{% endif %}

</header>
<br/>
<br/>
