<!DOCTYPE html>
<html>
<head>
<title> Messages - Online Auction WebApplication </title>
<link rel='stylesheet' href='/static/css/style.css' />
</head>
<body>

{% include 'banner.html' %}



<center>

<div id="base">
<div id="front">
<h1> Messages - Online Auction WebApplication </h1>

{% if msglist %}
<table border = 1>
	{% for item in msglist %}
<tr id='t1'>
	<td>
	Subject: <b>{{item.msg_subject}}</b><br>
	at <i>{{item.created}}</i><br>
	From: {{item.msg_from}}<br>
	To: {{item.msg_to}}<br><br>
	{{item.msg_data}}<br><br>
	</td>
</tr>
	{% endfor %}

<table>
{% endif %}

</div>
</div>
</center>

{% if debugmsg %}

{{debugmsg}}

{% endif%}

id, seller_id, request_id, created, approved_at, approved_by, title, description , quantity, min_price

</body>
</html>
