<!DOCTYPE html>
<html>
<head>
<title> Messages - Online Auction WebApplication </title>
<link rel='stylesheet' href='/static/css/bootstrap.min.css' />
<link rel='stylesheet' href='/static/css/style.css' />
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>

{% include 'banner.html' %}



<center>

<div id="base">
<div id="front">
<h1> Messages </h1>

{% if msglist %}
<table border = 1 class="table">
	{% for item in msglist %}
<tr class='card'>
	<td>
	Subject: <b>{{item.msg_subject}}</b><br>
	at <i>{{item.created}}</i><br>
	From: {{item.msg_from}}<br>
	To: {{item.msg_to}}<br><br>
	{{item.msg_data}}<br><br>
	</td>
</tr>
	{% endfor %}

<table>
{% endif %}

</div>
</div>
</center>

{% if debugmsg %}

{{debugmsg}}

{% endif%}

</body>
</html>
