<!DOCTYPE html>
<html>
<head>
<title> Payment - Online Auction WebApplication </title>
<link rel='stylesheet' href='/static/css/bootstrap.min.css' />
<link rel='stylesheet' href='/static/css/style.css' />
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>

{% include 'banner.html' %}

<center>

<div id="base">
<div id="front">
<h1> Payment </h1>

<form method="post" action="{{ url }}">
	<dl>
	{% for key, value in display.items() %}
		<label>{{ key }}: {{ value }}</label></br>
	{% endfor %}
	{% for key, value in data.items() %}
		<input readonly type="hidden" name="{{ key }}" value="{{ value }}">
	{% endfor %}
	</dl>
	<input class="submit" type="submit">
</form>
</div>
</div>
</body>
</html>
