<!DOCTYPE html>
<html>
<head>
<title> Sell - Online Auction WebApplication </title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script src='/static/js/sell.js'></script>
</head>
<body>

{% include 'banner.html' %}

<center>
<div id="base">
	<div id="front">
		<h1> Place an Auction Request </h1> <br />
		<form action='/sell/' method='POST' enctype='multipart/form-data'>
		<table border='0'>
<tr>
<td colspan=4>Product Title</td>
</tr><tr>
<td colspan=4><input type='text' size=50 id='title' name='title' required></td>
</tr>
<tr>
<td colspan=4>Product Description</td>
</tr><tr>
<td colspan=4><textarea type='textarea' rows=8 cols=67 id='desc' name='desc' required resizable='false'></textarea></td>
</tr>
<tr>
<td>quantity</td>
<td>
<input class="btn btn-outline-success" type='button' rows=3 value='-'  id='minus' name='minus' onclick=less()>
<input type='text' size=5  id='qty' name='qty' value='1' required>
<input class="btn btn-outline-success" type='button' rows=3 value='+'  id='plus' name='plus' onclick=more()>
</td>
<td>price</td>
<td>
<input type='number' size=10  id='price' name='price' min="0" value='0' required>
</td>
</tr>


<tr>
<td>Attachments</td>
<td colspan=3>
<input type=file multiple id='attachments' name='attachments'>
</td>
</tr>
<tr>
<td colspan=4>
<button class="btn btn-success" type='submit'>Place Order</buttton>
</td>
</tr>

		</table>
		</form>
	</div>
</div>
</center>
</body>
</html>
