
#base {
    background-color: gray;
    width: max-content;
    height: max-content;
    padding: 5pt;
}

#front {
    background-color: gainsboro;
    width: max-content;
    height: max-content;
    padding: 5pt;
}

#table {

    border-color: black;
    border-style: double;
    width: max-content;
    height: max-content;
}

#t1 {
    background-color: black;
    color: white;
    width: max-content;
    height: max-content;
    padding: 5pt;
}

#t2 {
    background-color: white;
    color: black;
    width: max-content;
    height: max-content;
    padding: 5pt;
}

#desc {
    resize: none;
    owerflow: scroll;
}

